.before-after {
  padding-top: 10px;
  background-color: $bg-lightgrey;
  margin-bottom: 3px;

  @include tablet {
    background-image: linear-gradient(90deg, #f2f2f2 50%, #eaeaea 50%),
      linear-gradient(90deg, #ffffff 50%, #ffffff 50%);
    background-repeat: no-repeat;
    background-size: 100% 460px, 100%;
    background-position-y: bottom;
    margin-bottom: 5px;
  }

  @include desktop {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    background-image: linear-gradient(90deg, #f2f2f2 50%, #f2f2f2 50%);
    background-size: 100% 460px;
    background-position-y: bottom;
    margin-bottom: 0;
    padding-bottom: 10px;
    background-color: transparent;
  }
}

.before-after__results {
  color: $color-secondary-text;

  @include list-reset;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include desktop {
    justify-content: flex-start;
  }
}

.before-after__wrapper-results {
  @include tablet {
    display: flex;
    justify-content: space-between;
  }

  @include desktop {
    display: block;
  }
}

.before-after__item {
  position: relative;
  border-radius: 3px;
  border: 1px solid #cdcdcd;

  @include tablet {
    margin-right: 40px;
  }
}

.before-after__result {
  font-size: 24px;
  line-height: 24px;
  font-family: $font-oswald;
  text-transform: uppercase;
  text-align: center;
  width: 122px;
  margin: 0;
  margin-top: 15px;
  margin-bottom: 15px;

  @include tablet {
    font-size: 30px;
    line-height: 37px;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 160px;
  }
}

.before-after__caption {
  font-size: 12px;
  line-height: 12px;
  width: 87px;
  position: absolute;
  display: inline-block;
  background-color: $bg-lightgrey;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  box-sizing: border-box;
  left: 50%;
  bottom: -16px;
  transform: translateX(-50%);

  @include tablet {
    background-color: $bg-white;
    font-size: 14px;
    line-height: 14px;
    width: 118px;
    bottom: -7px;

    &--second {
      width: 138px;
      padding-right: 5px;
      padding-left: 5px;
    }
  }

  @include desktop {
    background-color: $bg-lightgrey;
  }
}

.before-after__list {
  @include list-reset;
}

.before-after__cost {
  color: $color-secondary-text;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 36px;
  font-family: $font-oswald;

  @include tablet {
    font-size: 20px;
    line-height: 20px;
    text-align: right;
    width: 190px;
    margin-top: 25px;
    margin-bottom: 34px;
  }

  @include desktop {
    width: auto;
    text-align: left;
    margin-top: 60px;
  }
}

.before-after__slider {
  margin-top: 34px;

  @include tablet {
    margin-top: 76px;
  }

  @include desktop {
    margin-top: 10px;
    width: 610px;
    max-width: 610px;
  }
}

.before-after__col-left {

  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;

  @include tablet {
    padding-left: 10px;
    padding-right: 10px;
    width: 708px;
  }

  @include desktop {
    margin: 0;
    padding: 0;
    margin-right: auto;
    width: 440px;
  }
}

.before-after__wrapper {
  @include desktop {
    display: flex;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 1220px;
    justify-content: space-between;
  }
}

.before-after__title {
  margin-top: 20px;
  margin-bottom: 35px;
  color: $color-secondary-text;

  @include tablet {
    border-top: 1px solid #e6e6e6;
    padding-top: 46px;
    margin-bottom: 64px;
  }

  @include desktop {
    border: none;
    padding-top: 0;
    margin-top: 64px;
    margin-bottom: 146px;
  }
}

.before-after__text {
  margin-top: 0;
  margin-bottom: 25px;
  padding-right: 10px;

  @include tablet {
    margin-bottom: 55px;
  }

  @include desktop {
    line-height: 24px;
    margin-bottom: 67px;
  }
}
