.button {
  width: 100%;
  max-width: 280px;

  text-decoration: none;
  text-transform: uppercase;
  background-color: $color-button;
  color: $color-button-text;
  font-family: $font-oswald;
  font-weight: normal;
  border: none;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  height: 40px;
  line-height: 40px;

  &:hover {
    background-color: $color-button-hover;
  }

  &:active {
    color: $color-button-text-hover;
    background-color: $color-button-active;
  }

  &--pick-program {
    @include tablet {
      font-size: 20px;
      line-height: 20px;
      width: 245px;
      padding-top: 16px;
      padding-bottom: 16px;
      height: auto;
      margin-left: 88px;
      margin-bottom: 504px;
    }

    @include desktop {
      margin-bottom: 186px;
      margin-left: 0;
    }
  }
}

.button__more {
  background-color: $bg-lightgrey;
  color: $color-primary-text;

  &:hover {
    background-color: #ebebeb;
  }

  &:active {
    background-color: #ebebeb;
    color: #b9b9b9;
  }
}
