.container {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;

  @include tablet {
    padding-left: 10px;
    padding-right: 10px;
    width: 708px;
  }

  @include desktop {
    padding-left: 20px;
    padding-right: 20px;
    width: 1220px;
  }
}
