.form {
  font-family: $font-oswald;
  font-size: 16px;
  line-height: 18px;

  @include tablet {
    font-size: 20px;
    line-height: 20px;
  }
}

.form__group {
  @include tablet {
    margin-right: 40px;
    margin-left: 40px;
  }

  @include desktop {
    margin-left: 0;
    margin-right: 0;
  }

  &--additionally {
    margin-bottom: 34px;
    margin-top: 6px;

    @include tablet {
      margin-bottom: 12px;
      display: flex;
      flex-wrap: wrap;
    }

    @include desktop {
      display: flex;
      margin-bottom: 28px;
    }
  }

  &--contacts {
    @include desktop {
      display: flex;

      & .form__label {
        width: 50%;
      }

      & .form__label:first-child {
        margin-right: 80px;
      }
    }
  }

  &--radio-group {
    border: 1px solid #e6e6e6;

    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;

    @include tablet {
      padding-top: 24px;
      padding-bottom: 24px;
      padding-left: 27px;
      padding-right: 27px;
    }
  }

  &--name-group {
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 16px;

    @include tablet {
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 64px;
    }

    @include desktop {
      margin-bottom: 0;
    }
  }
}

.form__col {
  margin: 0 auto;

  @include tablet {
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    width: 708px;
  }

  @include desktop {
    padding-left: 40px;
    padding-right: 40px;
    width: 1220px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    & .form__group {
      width: 570px;
      box-sizing: border-box;
    }
  }
}

.form__group--name-group .form__label {
  @include desktop {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 20px;
  }
}

.form__button-wrap {
  @include tablet {
    padding-right: 40px;
    padding-left: 40px;
    display: flex;
    align-items: center;
    margin-bottom: 65px;
  }

  @include desktop {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 85px;
  }
}

.form__textarea,
.form__input {
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 12px;
  padding-bottom: 13px;
  text-transform: uppercase;

  &:hover {
    border-color: #cdcdcd;
  }

  &:focus {
    border-color: #444444;
    outline: none;
    border-width: 2px;
  }
}

.form__input {
  margin-left: 14px;
  flex-grow: 1;
  height: 45px;

  @include tablet {
    height: 52px;
    margin-left: 20px;
  }

  &:required:invalid {
    border-color: #ff8282;
    border-width: 2px;
  }

  &--email,
  &--phone {
    padding-right: 40px;
    margin-left: 10px;

    @include tablet {
      padding-right: 60px;
      margin-left: 18px;
    }
  }

  &--email {
    @include tablet {
      margin-left: 21px;
      padding-left: 20px;
    }
  }
}

.form__input__icon-phone,
.form__input__icon-mail {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);

  @include tablet {
    //transform: none;
  }
}

.form__input--phone:focus + .form__input__icon-phone,
.form__input--email:focus + .form__input__icon-mail {
  fill: #68b738;
}

.form__input--phone:invalid + .form__input__icon-phone,
.form__input--email:invalid + .form__input__icon-mail {
  fill: #ff8282;
}

.form__input__icon-mail {
  width: 17px;
  height: 13px;
}

.form__input__icon-phone {
  width: 20px;
  height: 20px;
}

.form__textarea {
  width: 100%;
  margin-top: 8px;
  padding-left: 12px;
  padding-right: 12px;
  height: 150px;

  @include tablet {
    height: 170px;
    padding-left: 18px;
    padding-right: 18px;
  }
}

.form__label {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  position: relative;

  padding-top: 6px;
  padding-bottom: 8px;

  &:last-child {
    margin-bottom: 0;
  }

  &--phone:last-child {
    padding-bottom: 0;
  }

  @include tablet {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.form__label--radio,
.form__label--checkbox {
  padding-left: 46px;

  @include tablet {
    padding-left: 60px;
  }

  &::after,
  &::before {
    content: "";
    position: absolute;
    box-sizing: border-box;
  }

  &::before {
    width: 30px;
    height: 30px;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    top: 0;
    left: 0;

    @include tablet {
      width: 40px;
      height: 40px;
    }
  }

  &::after {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: transparent;
    top: 9px;
    left: 9px;

    @include tablet {
      width: 18px;
      height: 18px;
      top: 11px;
      left: 11px;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.form__label--radio {
  margin-bottom: 10px;

  @include tablet {
    margin-bottom: 12px;
  }
}

.form__radio:checked + label::after,
.form__radio:not(:checked):active + label::after {
  background-color: #68b738;
}

.form__checkbox:checked + label::after,
.form__checkbox:not(:checked):active + label::after {
  background-color: transparent;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.form__checkbox:active,
.form__label--checkbox:active {
  opacity: 0.3;
}

.form__label--checkbox {
  margin-bottom: 10px;

  &::before {
    border-radius: initial;
  }

  &::after {
    width: 21px;
    height: 16px;
    border-radius: initial;
    top: 7px;
    left: 5px;

    @include tablet {
      top: 12px;
      left: 10px;
    }
  }

  @include tablet {
    width: 282/628*100%;
    box-sizing: border-box;
    margin-bottom: 32px;

    &:nth-of-type(odd) {
      margin-right: 60px;
    }

    &:last-child {
      margin-bottom: 32px;
    }
  }

  @include desktop {
    width: 245px;
    margin-right: 80px;

    &:nth-of-type(odd) {
      margin-right: 80px;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.form__submit {
  @include tablet {
    width: 283px;
    margin-right: 65px;
    height: 52px;
  }

  @include desktop {
    width: 570px;
    max-width: 570px;
    margin-right: 80px;
  }
}

.form__caption {
  font-size: 14px;
  line-height: 16px;
  font-family: $font-arial;
  text-align: center;
  margin-top: 21px;
  margin-bottom: 32px;

  @include tablet {
    font-size: 16px;
    margin-top: 26px;
    margin-bottom: 26px;
  }

  @include desktop {
    margin-top: 0;
    margin-bottom: 0;
  }
}
