.form {
  font-family: $font-oswald;
  font-size: 16px;
  line-height: 18px;

  @include tablet {
    font-size: 20px;
    line-height: 20px;
  }
}

.form__group {
  @include tablet {
    margin-right: 40px;
    margin-left: 40px;
  }

  @include desktop {
    margin-left: 0;
    margin-right: 0;
  }

  &--additionally {
    @include desktop {
      display: flex;
    }
  }

  &--contacts {
    @include desktop {
      display: flex;

      & .form__label {
        width: 50%;
      }

      & .form__label:first-child {
        margin-right: 80px;
      }
    }
  }

  &--radio-group {
    border: 1px solid #e6e6e6;

    @include tablet {
      padding-top: 24px;
      padding-bottom: 24px;
      padding-left: 27px;
      padding-right: 27px;
    }
  }
}

.form__col {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;

  @include tablet {
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    width: 708px;
  }

  @include desktop {
    padding-left: 40px;
    padding-right: 40px;
    width: 1220px;
    margin: 0 auto;
    display: flex;

    & .form__group {
      width: 50%;
    }

    & .form__group:first-child {
      margin-right: 80px;
    }
  }
}

.form__button-wrap {
  @include tablet {
    padding-right: 40px;
    padding-left: 40px;
    display: flex;
    align-items: center;
  }

  @include desktop {
    padding-left: 0;
    padding-right: 0;
  }
}

.form__textarea,
.form__input {
  border: 1px solid #e7e7e7;
  box-sizing: border-box;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 12px;
  padding-bottom: 13px;
  text-transform: uppercase;
}

.form__input {
  margin-left: 15px;
  flex-grow: 1;
}

.form__textarea {
  width: 100%;
}

.form__label {
  text-transform: uppercase;
  margin-bottom: 14px;
  display: flex;
  align-items: center;
}

.form__submit {
  @include tablet {
    width: 283px;
    margin-right: 60px;
  }

  @include desktop {
    width: 570px;
  }
}
