.more-products__list {
  @include list-reset;
  margin-bottom: 40px;

  @include desktop {
    margin-right: 80px;
    width: 895/1220*100%;
  }
}

.more-products__title {
  font-size: 24px;
  line-height: 24px;
  display: inline-block;
  background-color: $bg-white;
  padding-left: 0;
  padding-right: 24px;
  margin-top: 31px;
  margin-bottom: 31px;

  @include tablet {
    margin-left: auto;
    margin-right: auto;
    padding-left: 36px;
    padding-right: 38px;
  }
}

.more-products__name {
  font-family: $font-oswald;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}

.more-products__item {
  border-top: 1px solid #cdcdcd;
  margin-bottom: 17px;
  padding-top: 12px;

  @include tablet {
    padding-right: 38px;
    padding-left: 38px;
  }

  @include desktop {
    padding-left: 0;
    padding-right: 0;
  }

  &:last-child {
    border-bottom: 1px solid #cdcdcd;
  }
}

.more-products__gift {
  background-color: #68b738;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  margin-bottom: 35px;

  @include desktop {
    width: 245/1220*100%;
  }
}

.more-products__gift-slogan {
  box-sizing: border-box;
  color: $color-white-text;
  height: 289px;
  font-size: 16px;
  line-height: 20px;
  padding-top: 188px;
  width: 160px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.more-products__button {
  max-width: 100%;
}

.more-products__wrap-col {
  @include desktop {
    display: flex;
    justify-content: space-between;
  }
}
