.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 14px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 14px;
}

.page-header__logo-image {
  display: block;
}
