.page-footer {
  background-color: $bg-lightgrey;
}

.page-footer__wrap {
  display: block;
  align-items: center;
  justify-content: space-between;

  @include tablet {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.page-footer__bg-wrap {
  width: 100%;
  background-color: $bg-lightgrey;
}

.page-footer__contacts-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include desktop {
    padding: 0;
    width: 1220px;
    background-color: transparent;
    margin: 0 auto;
    z-index: 10;
    position: relative;
    top: 95px;
  }

  .page-index & {
    background-color: $bg-white;

    @include desktop {
      background-color: transparent;
    }
  }
}

.page-index {
  position: relative;

  &::before {
    @include desktop {
      content: "";
      position: absolute;
      width: 50%;
      left: 50%;
      background-color: #5eaa2f;
      background-image: url("../img/index-background-desktop@1x.jpg");
      background-size: cover;
      height: 696px;
      z-index: -1;

      @include retina {
        background-image: url("../img/index-background-desktop@2x.jpg");
      }
    }
  }
}

.page-footer__contacts {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 22px;
  padding-left: 20px;
  padding-right: 20px;

  @include tablet {
    padding-top: 65px;
    padding-bottom: 58px;
    padding-left: 0;
    padding-right: 0;
    width: 628px;
  }

  @include desktop {
    width: 570px;
    justify-content: flex-start;
    box-sizing: border-box;
    background-color: $bg-white;
    margin-left: 0;
    padding-top: 62px;
    padding-left: 75px;
  }
}

.page-footer__slogan {
  font-size: 16px;
  text-transform: uppercase;
  font-family: $font-oswald;
  color: $color-secondary-text;
  width: 50%;
  margin-right: 10px;

  & br {
    display: none;
  }

  @include tablet {
    font-size: 20px;
    line-height: 25px;
    width: 160px;

    & br {
      display: block;
    }
  }

  @include desktop {
    margin-right: 80px;
  }
}

.page-footer__address {
  width: 50%;

  @include tablet {
    line-height: 20px;
    width: 170px;
    text-align: right;
  }

  @include desktop {
    text-align: left;
  }
}

.page-footer__city {
  @include tablet {
    display: inline-block;
    margin-top: 18px;
  }
}

.page-footer__map {
  position: relative;

  @include desktop {
    height: 400px;
  }
}

.page-footer__yandex-map {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/bg-map-mobile@1x.png");

  @include retina {
    background-image: url("../img/bg-map-mobile@2x.png");
  }

  @include tablet {
    background-image: url("../img/bg-map-tablet@1x.png");

    @include retina {
      background-image: url("../img/bg-map-tablet@2x.png");
    }
  }

  @include desktop {
    background-image: url("../img/bg-map-desktop@1x.png");

    @include retina {
      background-image: url("../img/bg-map-desktop@2x.png");
    }
  }
}

.no-js.page-footer__yandex-map {
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 55px;
    height: 53px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../img/map-pin.png");
    transform: translate(-50%, -50%);

    @include tablet {
      width: 113px;
      height: 106px;
    }

    @include desktop {
      left: 74%;
    }
  }
}

.page-footer__logo-link {
  display: block;
  text-align: center;
  padding: 46px;
  padding-bottom: 28px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @include tablet {
    padding-left: 0;
    padding-right: 0;
    padding-top: 60px;
    padding-bottom: 54px;
  }
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-footer__yandex-map {
  display: block;
  width: 100%;
  height: 362px;

  @include tablet {
    height: 400px;
  }

  @include desktop {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
