.selection__slogan {
  font-family: $font-oswald;
  text-transform: uppercase;
  margin-bottom: 32px;
  padding-right: 20px;

  @include tablet {
    padding-left: 40px;
    width: 342px;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 55px;
  }

  @include desktop {
    padding-left: 0;
    margin-bottom: 65px;
  }
}

.selection__title {
  margin-top: 30px;
  margin-bottom: 38px;

  @include tablet {
    margin-top: 45px;
    margin-bottom: 55px;
  }
}
