.social__list {
  @include list-reset;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  @include tablet {
    border: none;
    justify-content: space-between;
    width: 125px;
    margin-left: 15px;
  }
}

.social__item {
  margin-top: 22px;
  margin-bottom: 22px;

  &:nth-child(2) {
    margin-left: 40px;
    margin-right: 40px;

    @include tablet {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.social__link {
  content: "";
  display: block;

  &:hover {
    fill: #68b738;
  }

  &:active {
    fill: #68b738;
    opacity: 0.3;
  }

  @include tablet {
    &--vk {
      width: 30px;
      height: 16px;
    }

    &--facebook {
      width: 14px;
      height: 28px;
    }

    &--instagram {
      width: 23px;
      height: 23px;
    }
  }
}
